body {
    background-color: var(--background-black);
}

.grupo {
    width: 100%;
    background-color: var(--background-black);
    color: var(--background-white);
    padding: 1% 5%;
    box-sizing: border-box;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 30px;

}

.grupo-detalles {
    padding: 2%;
}

.grupo h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
}

.grupo-videos {
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    width: 100%;
}

.slick-slide {
    margin: 0 auto;
}
