.formulario-nuevo {
    padding: 3%;
    background-color: var(--background-black-2);
}

.formulario-nuevo h2 {
    text-align: center;
    color: var(--background-white);
    padding-bottom: 20px;
}

.botones {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.botones-add {
    display: flex;
    gap: 30px;
}


.tabla-categorias {
    width: 100%;
    font-size: 14px;
}


.tabla-categorias, thead, .tabla-cabecera th, tbody {
    border: 4px solid var(--background-azul-oscuro);
}

.td_body th {
    border: 3px solid var(--background-black);
}

tbody {
    border: var(--background-azul-oscuro) 3px solid;
  }



.tabla-categorias thead, th {
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.td-titulo {
    width: 20%;
}

.td-descripcion {
    width: 65%;
    text-align: left;
}

.td-btn {
    width: 10%;
    text-align: center;
}

.tabla-cabecera th {
    font-weight: bold;
}

.button-edit, .button-delete {
    background-color: transparent;
    color: var(--background-white);
    width: 100%;
    cursor: pointer;
}

.button-edit:hover {
    transition: 0.5s;
    text-decoration: underline;
    color: var(--background-contorno);
}

.button-delete:hover {
    transition: 0.5s;

    text-decoration:underline;
    color: red;
}

form {
    margin: 40px 0;
}