.footer-elements {
    background-color: var(--background-black-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: 3px solid var(--background-contorno);
}

