.banner-elementos {
    width: 100%;
    padding: 4%;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 40px;
}


.banner-elementos-texto {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.banner-titulo-principal {
    font-size: 40px;
    padding: 8px 8px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.banner-titulo-secundario {
    font-size: 20px;
}


@media screen and (max-width: 800px) {

    .banner-elementos img {
        display: none;
    }

    .banner-elementos p {
        display: none;
    }

    .banner-elementos-texto {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
}